Flask>=3.1,<4
gunicorn>=23,<24
Flask-Login>=0.6,<1
Flask-Mail>=0.10,<1
Flask-Migrate>=4.1,<5
Flask-SQLAlchemy>=3.1,<4
beautifulsoup4>=4.12,<5
google-search-results>=2.4,<3
python-dotenv>=1.0,<2
requests>=2.31,<3
resend>=2.0,<3